
<div class="row">
  <div class="col-xs-4 col-xs-offset-5">
    <%= form_for @message do |m| %>
      <%= m.label :to, class: "label label-primary"%> <br \>
      <%= m.text_field :to, value: '9718088960'%> <br \>
      <%= m.label :from, class: "label label-primary" %> <br \>
      <%= m.text_field :from, value: '2023354509' %> <br \>
      <%= m.label :body, class: "label label-primary" %> <br \>
      <%= m.text_field :body, class: 'messageBody', id: 'messageBody' %> <br \>
      <%= m.submit "Send Text", class: "btn-lg btn-warning" %>
    <%end%>
  </div>
</div>
